<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>copyright</key>
	<string>© 2010-2014 Houdah Software s.à r.l.</string>
	<key>diacritics</key>
	<string>WesternDiacritics</string>
	<key>keyTables</key>
	<dict>
		<key>0</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>a</string>
			<string>x</string>
			<string>j</string>
			<string>e</string>
			<string>.</string>
			<string>u</string>
			<string>i</string>
			<string>d</string>
			<string>c</string>
			<string>h</string>
			<string>t</string>
			<string>n</string>
			<string>m</string>
			<string>b</string>
			<string>r</string>
			<string>l</string>
			<string>'</string>
			<string>p</string>
			<string>o</string>
			<string>y</string>
			<string>g</string>
			<string>k</string>
			<string>,</string>
			<string>q</string>
			<string>f</string>
			<string>;</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<integer>13</integer>
			<integer>27</integer>
			<integer>8</integer>
			<string>	</string>
			<string> </string>
			<string>[</string>
			<string>]</string>
			<string>/</string>
			<integer>61</integer>
			<string>\</string>
			<integer>65535</integer>
			<string>s</string>
			<string>-</string>
			<integer>96</integer>
			<string>w</string>
			<string>v</string>
			<string>z</string>
			<integer>65535</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>1</integer>
			<integer>11</integer>
			<integer>127</integer>
			<integer>4</integer>
			<integer>12</integer>
			<integer>29</integer>
			<integer>28</integer>
			<integer>31</integer>
			<integer>30</integer>
			<integer>27</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>3</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>.</string>
			<string>§</string>
		</array>
		<key>2</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>A</string>
			<string>X</string>
			<string>J</string>
			<string>E</string>
			<integer>62</integer>
			<string>U</string>
			<string>I</string>
			<string>D</string>
			<string>C</string>
			<string>H</string>
			<string>T</string>
			<string>N</string>
			<string>M</string>
			<string>B</string>
			<string>R</string>
			<string>L</string>
			<string>"</string>
			<string>P</string>
			<string>O</string>
			<string>Y</string>
			<string>G</string>
			<string>K</string>
			<integer>60</integer>
			<string>Q</string>
			<string>F</string>
			<string>:</string>
			<string>!</string>
			<string>@</string>
			<string>#</string>
			<integer>36</integer>
			<string>%</string>
			<integer>94</integer>
			<string>&amp;</string>
			<string>*</string>
			<string>(</string>
			<string>)</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string> </string>
			<string>{</string>
			<string>}</string>
			<string>?</string>
			<integer>43</integer>
			<integer>124</integer>
			<integer>65535</integer>
			<string>S</string>
			<string>_</string>
			<integer>126</integer>
			<string>W</string>
			<string>V</string>
			<string>Z</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>.</string>
			<integer>177</integer>
		</array>
		<key>4</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>å</string>
			<integer>8776</integer>
			<integer>8710</integer>
			<string>DEADKEY_´</string>
			<integer>8805</integer>
			<string>DEADKEY_¨</string>
			<string>DEADKEY_ˆ</string>
			<integer>8706</integer>
			<string>ç</string>
			<integer>729</integer>
			<string>†</string>
			<string>DEADKEY_˜</string>
			<string>µ</string>
			<integer>8747</integer>
			<integer>174</integer>
			<integer>172</integer>
			<string>æ</string>
			<string>π</string>
			<string>ø</string>
			<integer>165</integer>
			<integer>169</integer>
			<integer>730</integer>
			<integer>8804</integer>
			<string>œ</string>
			<string>ƒ</string>
			<string>…</string>
			<string>¡</string>
			<integer>8482</integer>
			<integer>163</integer>
			<integer>162</integer>
			<integer>8734</integer>
			<string>§</string>
			<string>¶</string>
			<string>•</string>
			<string>ª</string>
			<string>º</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>	</string>
			<string> </string>
			<string>“</string>
			<string>‘</string>
			<integer>247</integer>
			<integer>8800</integer>
			<string>«</string>
			<integer>65535</integer>
			<string>ß</string>
			<string>–</string>
			<string>DEADKEY_`</string>
			<integer>8721</integer>
			<integer>8730</integer>
			<string>Ω</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>.</string>
			<string>§</string>
		</array>
		<key>6</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>Å</string>
			<integer>731</integer>
			<string>Ô</string>
			<integer>180</integer>
			<integer>728</integer>
			<integer>168</integer>
			<string>ˆ</string>
			<string>Î</string>
			<string>Ç</string>
			<string>Ó</string>
			<string>ˇ</string>
			<integer>732</integer>
			<string>Â</string>
			<string>ı</string>
			<string>‰</string>
			<string>Ò</string>
			<string>Æ</string>
			<integer>8719</integer>
			<string>Ø</string>
			<string>Á</string>
			<integer>733</integer>
			<integer>63743</integer>
			<integer>175</integer>
			<string>Œ</string>
			<string>Ï</string>
			<string>Ú</string>
			<integer>8260</integer>
			<integer>8364</integer>
			<string>‹</string>
			<string>›</string>
			<string>ﬁ</string>
			<string>ﬂ</string>
			<string>‡</string>
			<integer>176</integer>
			<string>·</string>
			<string>‚</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>	</string>
			<string> </string>
			<string>”</string>
			<string>’</string>
			<string>¿</string>
			<integer>177</integer>
			<string>»</string>
			<integer>65535</integer>
			<string>Í</string>
			<string>—</string>
			<integer>96</integer>
			<string>„</string>
			<integer>9674</integer>
			<integer>184</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>.</string>
			<integer>177</integer>
		</array>
	</dict>
	<key>latin</key>
	<true/>
	<key>reversed</key>
	<false/>
</dict>
</plist>
