<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>copyright</key>
	<string>© 2010-2014 Houdah Software s.à r.l.</string>
	<key>diacritics</key>
	<string>NoDeadKeysDiacritics</string>
	<key>keyTables</key>
	<dict>
		<key>0</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>ф</string>
			<string>и</string>
			<string>с</string>
			<string>в</string>
			<string>у</string>
			<string>а</string>
			<string>п</string>
			<string>р</string>
			<string>ш</string>
			<string>о</string>
			<string>л</string>
			<string>д</string>
			<string>ь</string>
			<string>т</string>
			<string>щ</string>
			<string>з</string>
			<string>й</string>
			<string>к</string>
			<string>ы</string>
			<string>е</string>
			<string>г</string>
			<string>м</string>
			<string>ц</string>
			<string>ч</string>
			<string>н</string>
			<string>я</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<integer>13</integer>
			<integer>27</integer>
			<integer>8</integer>
			<string>	</string>
			<string> </string>
			<string>-</string>
			<integer>61</integer>
			<string>х</string>
			<string>ъ</string>
			<string>ё</string>
			<integer>65535</integer>
			<string>ж</string>
			<string>э</string>
			<string>]</string>
			<string>б</string>
			<string>ю</string>
			<string>/</string>
			<integer>65535</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>1</integer>
			<integer>11</integer>
			<integer>127</integer>
			<integer>4</integer>
			<integer>12</integer>
			<integer>29</integer>
			<integer>28</integer>
			<integer>31</integer>
			<integer>30</integer>
			<integer>27</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>3</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>,</string>
			<integer>62</integer>
		</array>
		<key>2</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>Ф</string>
			<string>И</string>
			<string>С</string>
			<string>В</string>
			<string>У</string>
			<string>А</string>
			<string>П</string>
			<string>Р</string>
			<string>Ш</string>
			<string>О</string>
			<string>Л</string>
			<string>Д</string>
			<string>Ь</string>
			<string>Т</string>
			<string>Щ</string>
			<string>З</string>
			<string>Й</string>
			<string>К</string>
			<string>Ы</string>
			<string>Е</string>
			<string>Г</string>
			<string>М</string>
			<string>Ц</string>
			<string>Ч</string>
			<string>Н</string>
			<string>Я</string>
			<string>!</string>
			<string>"</string>
			<integer>8470</integer>
			<string>%</string>
			<string>:</string>
			<string>,</string>
			<string>.</string>
			<string>;</string>
			<string>(</string>
			<string>)</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string> </string>
			<string>_</string>
			<integer>43</integer>
			<string>Х</string>
			<string>Ъ</string>
			<string>Ё</string>
			<integer>65535</integer>
			<string>Ж</string>
			<string>Э</string>
			<string>[</string>
			<string>Б</string>
			<string>Ю</string>
			<string>?</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>.</string>
			<integer>60</integer>
		</array>
		<key>4</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>ƒ</string>
			<string>и</string>
			<integer>8800</integer>
			<string>ћ</string>
			<string>ќ</string>
			<integer>247</integer>
			<integer>169</integer>
			<string>}</string>
			<string>ѕ</string>
			<integer>176</integer>
			<string>љ</string>
			<integer>8710</integer>
			<integer>126</integer>
			<integer>8482</integer>
			<string>ў</string>
			<string>‘</string>
			<string>ј</string>
			<integer>174</integer>
			<string>ы</string>
			<string>†</string>
			<string>ѓ</string>
			<string>µ</string>
			<string>џ</string>
			<integer>8776</integer>
			<string>њ</string>
			<string>ђ</string>
			<string>!</string>
			<string>@</string>
			<string>#</string>
			<integer>36</integer>
			<string>%</string>
			<integer>94</integer>
			<string>&amp;</string>
			<string>*</string>
			<string>(</string>
			<string>)</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>	</string>
			<string> </string>
			<string>–</string>
			<string>»</string>
			<string>“</string>
			<string>ъ</string>
			<string>ё</string>
			<integer>65535</integer>
			<string>…</string>
			<string>э</string>
			<string>]</string>
			<integer>8804</integer>
			<integer>8805</integer>
			<string>“</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>,</string>
			<string>§</string>
		</array>
		<key>6</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>ƒ</string>
			<string>И</string>
			<integer>8800</integer>
			<string>Ћ</string>
			<string>Ќ</string>
			<integer>247</integer>
			<integer>169</integer>
			<string>{</string>
			<string>Ѕ</string>
			<string>•</string>
			<string>Љ</string>
			<integer>8710</integer>
			<integer>126</integer>
			<integer>8482</integer>
			<string>Ў</string>
			<string>’</string>
			<string>Ј</string>
			<integer>174</integer>
			<string>Ы</string>
			<string>†</string>
			<string>Ѓ</string>
			<string>µ</string>
			<string>Џ</string>
			<integer>8776</integer>
			<string>Њ</string>
			<string>Ђ</string>
			<integer>124</integer>
			<string>"</string>
			<integer>163</integer>
			<integer>8364</integer>
			<integer>8734</integer>
			<integer>172</integer>
			<string>¶</string>
			<integer>8730</integer>
			<string>'</string>
			<integer>96</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>	</string>
			<string> </string>
			<string>—</string>
			<string>«</string>
			<string>”</string>
			<string>Ъ</string>
			<string>Ё</string>
			<integer>65535</integer>
			<string>…</string>
			<string>Э</string>
			<string>[</string>
			<integer>60</integer>
			<integer>62</integer>
			<string>„</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>,</string>
			<integer>177</integer>
		</array>
	</dict>
	<key>latin</key>
	<false/>
	<key>reversed</key>
	<false/>
</dict>
</plist>
