<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>copyright</key>
	<string>© 2010-2014 Houdah Software s.à r.l.</string>
	<key>diacritics</key>
	<string>CzechDiacritics</string>
	<key>keyTables</key>
	<dict>
		<key>0</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<integer>43</integer>
			<string>ľ</string>
			<string>š</string>
			<string>č</string>
			<string>ť</string>
			<string>ž</string>
			<string>ý</string>
			<string>á</string>
			<string>í</string>
			<string>é</string>
			<integer>13</integer>
			<integer>27</integer>
			<integer>8</integer>
			<string>	</string>
			<string> </string>
			<integer>61</integer>
			<string>DEADKEY_'</string>
			<string>ú</string>
			<string>ä</string>
			<string>ň</string>
			<integer>65535</integer>
			<string>ô</string>
			<string>§</string>
			<string>\</string>
			<string>,</string>
			<string>.</string>
			<string>-</string>
			<integer>65535</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>1</integer>
			<integer>11</integer>
			<integer>127</integer>
			<integer>4</integer>
			<integer>12</integer>
			<integer>29</integer>
			<integer>28</integer>
			<integer>31</integer>
			<integer>30</integer>
			<integer>27</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>3</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>,</string>
			<integer>60</integer>
		</array>
		<key>2</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string> </string>
			<string>%</string>
			<string>DEADKEY_ˇ</string>
			<string>/</string>
			<string>(</string>
			<string>)</string>
			<integer>65535</integer>
			<string>"</string>
			<string>!</string>
			<integer>124</integer>
			<string>?</string>
			<string>:</string>
			<string>_</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>,</string>
			<integer>62</integer>
		</array>
		<key>4</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>ą</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>8706</integer>
			<string>ę</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>‘</string>
			<integer>65535</integer>
			<string>’</string>
			<integer>65535</integer>
			<string>ł</string>
			<integer>65535</integer>
			<string>‚</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>8364</integer>
			<string>ß</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>ė</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>ż</string>
			<integer>96</integer>
			<string>@</string>
			<string>#</string>
			<integer>36</integer>
			<integer>126</integer>
			<integer>94</integer>
			<string>&amp;</string>
			<string>*</string>
			<string>{</string>
			<string>}</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>	</string>
			<string> </string>
			<string>DEADKEY_°</string>
			<string>DEADKEY_ˆ</string>
			<string>[</string>
			<string>]</string>
			<string>DEADKEY_¨</string>
			<integer>65535</integer>
			<string>;</string>
			<string>'</string>
			<integer>65535</integer>
			<integer>60</integer>
			<integer>62</integer>
			<string>–</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>,</string>
			<integer>8804</integer>
		</array>
		<key>6</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>Ą</string>
			<integer>65535</integer>
			<integer>169</integer>
			<integer>8710</integer>
			<string>Ę</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>“</string>
			<integer>65535</integer>
			<string>”</string>
			<integer>65535</integer>
			<string>Ł</string>
			<integer>65535</integer>
			<string>„</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>174</integer>
			<integer>8721</integer>
			<integer>8482</integer>
			<integer>65535</integer>
			<integer>8730</integer>
			<string>Ė</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>Ż</string>
			<integer>172</integer>
			<string>•</string>
			<integer>8800</integer>
			<integer>163</integer>
			<integer>9674</integer>
			<string>†</string>
			<string>¶</string>
			<integer>247</integer>
			<string>«</string>
			<string>»</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>	</string>
			<string> </string>
			<string>DEADKEY_,</string>
			<string>DEADKEY_-</string>
			<string>‹</string>
			<string>›</string>
			<string>DEADKEY_"</string>
			<integer>65535</integer>
			<string>…</string>
			<string>DEADKEY_˜</string>
			<integer>65535</integer>
			<integer>8804</integer>
			<integer>8805</integer>
			<string>—</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>,</string>
			<integer>8805</integer>
		</array>
	</dict>
	<key>latin</key>
	<true/>
	<key>reversed</key>
	<false/>
</dict>
</plist>
