<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>copyright</key>
	<string>© 2010-2014 Houdah Software s.à r.l.</string>
	<key>diacritics</key>
	<string>NoDeadKeysDiacritics</string>
	<key>keyTables</key>
	<dict>
		<key>0</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>ฟ</string>
			<string>ิ</string>
			<string>แ</string>
			<string>ก</string>
			<string>ำ</string>
			<string>ด</string>
			<string>เ</string>
			<string>้</string>
			<string>ร</string>
			<string>่</string>
			<string>า</string>
			<string>ส</string>
			<string>ท</string>
			<string>ื</string>
			<string>น</string>
			<string>ย</string>
			<string>ๆ</string>
			<string>พ</string>
			<string>ห</string>
			<string>ะ</string>
			<string>ี</string>
			<string>อ</string>
			<string>ไ</string>
			<string>ป</string>
			<string>ั</string>
			<string>ผ</string>
			<string>ๅ</string>
			<string>/</string>
			<string>_</string>
			<string>ภ</string>
			<string>ถ</string>
			<string>ุ</string>
			<string>ึ</string>
			<string>ค</string>
			<string>ต</string>
			<string>จ</string>
			<integer>13</integer>
			<integer>27</integer>
			<integer>8</integer>
			<string>	</string>
			<string> </string>
			<string>ข</string>
			<string>ช</string>
			<string>บ</string>
			<string>ล</string>
			<string>ฃ</string>
			<integer>65535</integer>
			<string>ว</string>
			<string>ง</string>
			<string>-</string>
			<string>ม</string>
			<string>ใ</string>
			<string>ฝ</string>
			<integer>65535</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>1</integer>
			<integer>11</integer>
			<integer>127</integer>
			<integer>4</integer>
			<integer>12</integer>
			<integer>29</integer>
			<integer>28</integer>
			<integer>31</integer>
			<integer>30</integer>
			<integer>27</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>3</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>.</string>
			<integer>65535</integer>
		</array>
		<key>2</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>ฤ</string>
			<string>ฺ</string>
			<string>ฉ</string>
			<string>ฏ</string>
			<string>ฎ</string>
			<string>โ</string>
			<string>ฌ</string>
			<string>็</string>
			<string>ณ</string>
			<string>๋</string>
			<string>ษ</string>
			<string>ศ</string>
			<string>?</string>
			<string>์</string>
			<string>ฯ</string>
			<string>ญ</string>
			<string>๐</string>
			<string>ฑ</string>
			<string>ฆ</string>
			<string>ธ</string>
			<string>๊</string>
			<string>ฮ</string>
			<string>"</string>
			<string>)</string>
			<string>ํ</string>
			<string>(</string>
			<integer>43</integer>
			<string>๑</string>
			<string>๒</string>
			<string>๓</string>
			<string>๔</string>
			<string>ู</string>
			<integer>3647</integer>
			<string>๕</string>
			<string>๖</string>
			<string>๗</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>​</string>
			<string>๘</string>
			<string>๙</string>
			<string>ฐ</string>
			<string>,</string>
			<string>ฅ</string>
			<integer>65535</integer>
			<string>ซ</string>
			<string>.</string>
			<string>%</string>
			<string>ฒ</string>
			<string>ฬ</string>
			<string>ฦ</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>.</string>
			<integer>65535</integer>
		</array>
		<key>4</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>169</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>174</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>8482</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>•</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>	</string>
			<string> </string>
			<string>–</string>
			<integer>65535</integer>
			<string>“</string>
			<string>‘</string>
			<string>«</string>
			<integer>65535</integer>
			<string>…</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>.</string>
			<integer>65535</integer>
		</array>
		<key>6</key>
		<array>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>	</string>
			<integer>65535</integer>
			<string>—</string>
			<integer>65535</integer>
			<string>”</string>
			<string>’</string>
			<string>»</string>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<integer>65535</integer>
			<string>/</string>
			<string>*</string>
			<string>-</string>
			<integer>43</integer>
			<integer>65535</integer>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>0</string>
			<string>.</string>
			<integer>65535</integer>
		</array>
	</dict>
	<key>latin</key>
	<false/>
</dict>
</plist>
