<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARABIC</key>
	<dict>
		<key>name</key>
		<string>Arabic</string>
	</dict>
	<key>AU</key>
	<dict>
		<key>name</key>
		<string>Australian</string>
	</dict>
	<key>BE</key>
	<dict>
		<key>name</key>
		<string>Belgian</string>
	</dict>
	<key>BR</key>
	<dict>
		<key>name</key>
		<string>Brazilian</string>
	</dict>
	<key>CA</key>
	<dict>
		<key>name</key>
		<string>Canadian English</string>
	</dict>
	<key>CA_FR</key>
	<dict>
		<key>name</key>
		<string>Canadian French</string>
	</dict>
	<key>CH_DE</key>
	<dict>
		<key>name</key>
		<string>Swiss German</string>
	</dict>
	<key>CH_FR</key>
	<dict>
		<key>name</key>
		<string>Swiss French</string>
	</dict>
	<key>CZ</key>
	<dict>
		<key>name</key>
		<string>Czech</string>
	</dict>
	<key>CZQWERTY</key>
	<dict>
		<key>name</key>
		<string>Czech QWERTY</string>
	</dict>
	<key>DA</key>
	<dict>
		<key>name</key>
		<string>Danish</string>
	</dict>
	<key>DE</key>
	<dict>
		<key>name</key>
		<string>German</string>
	</dict>
	<key>DVORAK</key>
	<dict>
		<key>name</key>
		<string>Dvorak</string>
	</dict>
	<key>ES</key>
	<dict>
		<key>name</key>
		<string>Spanish ISO</string>
	</dict>
	<key>FI</key>
	<dict>
		<key>name</key>
		<string>Finnish</string>
	</dict>
	<key>FR</key>
	<dict>
		<key>name</key>
		<string>French</string>
	</dict>
	<key>GR</key>
	<dict>
		<key>name</key>
		<string>Greek</string>
	</dict>
	<key>HE</key>
	<dict>
		<key>name</key>
		<string>Hebrew</string>
	</dict>
	<key>HU</key>
	<dict>
		<key>name</key>
		<string>Hungarian</string>
	</dict>
	<key>IT</key>
	<dict>
		<key>name</key>
		<string>Italian</string>
	</dict>
	<key>JP</key>
	<dict>
		<key>name</key>
		<string>Japanese</string>
	</dict>
	<key>JPQWERTY</key>
	<dict>
		<key>name</key>
		<string>Japanese QWERTY</string>
	</dict>
	<key>KO</key>
	<dict>
		<key>name</key>
		<string>Korean</string>
	</dict>
	<key>NL</key>
	<dict>
		<key>name</key>
		<string>Dutch</string>
	</dict>
	<key>NO</key>
	<dict>
		<key>name</key>
		<string>Norwegian</string>
	</dict>
	<key>PL</key>
	<dict>
		<key>name</key>
		<string>Polish</string>
	</dict>
	<key>PLPRO</key>
	<dict>
		<key>name</key>
		<string>Polish Pro</string>
	</dict>
	<key>PT</key>
	<dict>
		<key>name</key>
		<string>Portuguese</string>
	</dict>
	<key>RSLATIN</key>
	<dict>
		<key>name</key>
		<string>Serbian (Latin)</string>
	</dict>
	<key>RU</key>
	<dict>
		<key>name</key>
		<string>Russian</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>name</key>
		<string>Swedish Pro</string>
	</dict>
	<key>SI</key>
	<dict>
		<key>name</key>
		<string>Slovenian</string>
	</dict>
	<key>SK</key>
	<dict>
		<key>name</key>
		<string>Slovak</string>
	</dict>
	<key>SKQWERTY</key>
	<dict>
		<key>name</key>
		<string>Slovak QWERTY</string>
	</dict>
	<key>SR</key>
	<dict>
		<key>name</key>
		<string>Serbian</string>
	</dict>
	<key>TH</key>
	<dict>
		<key>name</key>
		<string>Thai</string>
	</dict>
	<key>TR</key>
	<dict>
		<key>name</key>
		<string>Turkish</string>
	</dict>
	<key>TRQWERTY</key>
	<dict>
		<key>name</key>
		<string>Turkish QWERTY</string>
	</dict>
	<key>UK</key>
	<dict>
		<key>name</key>
		<string>British</string>
	</dict>
	<key>US</key>
	<dict>
		<key>name</key>
		<string>U.S. American</string>
	</dict>
</dict>
</plist>
