<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>79</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>42</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Forward Delete</string>
					<key>uuid</key>
					<string>680BCE9C-F95E-4771-A811-1367BCBA3010</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>80</integer>
							<key>modifierMask</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>42</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Delete Word Left</string>
					<key>uuid</key>
					<string>0741C41D-1C01-4131-91EB-F78E3FD801C0</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>79</integer>
							<key>modifierMask</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>42</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Delete Word Right</string>
					<key>uuid</key>
					<string>807847C2-E6B9-4B74-A937-AE3BD6A4797D</string>
				</dict>
			</array>
			<key>title</key>
			<string>Key Sequences</string>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>character</key>
							<string>a</string>
							<key>key</key>
							<integer>4</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Read All, Starting from the Current Position</string>
					<key>uuid</key>
					<string>7E2D451E-5590-4739-A8AA-D0952C3CDAC7</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>character</key>
							<string>b</string>
							<key>key</key>
							<integer>5</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Read from the Top</string>
					<key>uuid</key>
					<string>8463A646-4E2A-490F-AC22-29FB98FAFB1E</string>
				</dict>
				<dict>
					<key>title</key>
					<string>-</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>character</key>
							<string>m</string>
							<key>key</key>
							<integer>16</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Move to the Status Bar</string>
					<key>uuid</key>
					<string>73706DAD-2D19-47F2-8D9A-2154DEC0A8A6</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>character</key>
							<string>h</string>
							<key>key</key>
							<integer>11</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Press the Home Button</string>
					<key>uuid</key>
					<string>9613D479-DBCC-40EF-A78D-9FCD43D71E60</string>
				</dict>
				<dict>
					<key>title</key>
					<string>-</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>80</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Select the Previous Item</string>
					<key>uuid</key>
					<string>5B0289B2-0730-4FD3-AC0D-AB16187600C2</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>79</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Select the Next Item</string>
					<key>uuid</key>
					<string>3E775695-0559-4B74-BF64-C5FCD72D6D91</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>44</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Tap an Item</string>
					<key>uuid</key>
					<string>6E9D2F4D-2619-4857-AD11-FCCBDDCA9CB9</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>character</key>
							<string>i</string>
							<key>key</key>
							<integer>12</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Open the Item Chooser</string>
					<key>uuid</key>
					<string>46D7DDE9-1209-4F5D-9979-F93F18517B04</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>45</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Double-Tap with Two Fingers</string>
					<key>uuid</key>
					<string>D471C1BD-9444-4DA5-B32A-F14F4F9CC7D1</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>56</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Add Label to Selected Item</string>
					<key>uuid</key>
					<string>7BD5514B-F6E6-4CB7-ADCF-FFC100AB2253</string>
				</dict>
				<dict>
					<key>title</key>
					<string>-</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Select the Previous Item Specified by the Rotor</string>
					<key>uuid</key>
					<string>3A87EA05-09AA-49D8-BBF4-6A53544A76BB</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>81</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Select the Next Item Specified by the Rotor</string>
					<key>uuid</key>
					<string>D1414AC4-B5A6-4B82-99C2-E81D43380226</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>79</integer>
							<key>modifierMask</key>
							<integer>13</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Adjust the Speech Rotor: Right</string>
					<key>uuid</key>
					<string>EF51D059-5899-41C7-BB25-8A59D3A57BBA</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>80</integer>
							<key>modifierMask</key>
							<integer>13</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Adjust the Speech Rotor: Left</string>
					<key>uuid</key>
					<string>0299BF98-11F3-41BD-94CD-D5789CEDAC3E</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>modifierMask</key>
							<integer>13</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Adjust the Setting Specified by the Speech Rotor: Up</string>
					<key>uuid</key>
					<string>39CFC905-64EE-4933-9D6D-40BED0DBFBE3</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>81</integer>
							<key>modifierMask</key>
							<integer>13</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Adjust the Setting Specified by the Speech Rotor: Down</string>
					<key>uuid</key>
					<string>A200B7A1-EDB3-4FD4-BD2E-6102993384F1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>-</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>character</key>
							<string>s</string>
							<key>key</key>
							<integer>22</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Mute or Unmute VoiceOver</string>
					<key>uuid</key>
					<string>4F0B6587-D37E-4001-934C-0514592C4951</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>character</key>
							<string>s</string>
							<key>key</key>
							<integer>22</integer>
							<key>modifierMask</key>
							<integer>119</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Turn the Screen Curtain on or off</string>
					<key>uuid</key>
					<string>86A03862-3F2D-4F92-AA38-491C38AA5416</string>
				</dict>
				<dict>
					<key>title</key>
					<string>-</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>43</integer>
							<key>modifierMask</key>
							<integer>136</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Switch to Next App</string>
					<key>uuid</key>
					<string>4FB6C7D9-7F21-470C-B4FA-AA710756667F</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>43</integer>
							<key>modifierMask</key>
							<integer>170</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Switch to Previous App</string>
					<key>uuid</key>
					<string>FDEC8A99-19BE-43AF-BED7-08E28C433362</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>character</key>
							<string>h</string>
							<key>key</key>
							<integer>11</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
						<dict>
							<key>character</key>
							<string>h</string>
							<key>key</key>
							<integer>11</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Show or Hide the Multitasking Pane</string>
					<key>uuid</key>
					<string>33F932EF-F218-49C9-835A-7EBC96F2AF1C</string>
				</dict>
				<dict>
					<key>title</key>
					<string>-</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>80</integer>
							<key>keyDown</key>
							<true/>
							<key>keyUp</key>
							<false/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>79</integer>
							<key>keyDown</key>
							<true/>
							<key>keyUp</key>
							<false/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>80</integer>
							<key>keyDown</key>
							<false/>
							<key>keyUp</key>
							<true/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>79</integer>
							<key>keyDown</key>
							<false/>
							<key>keyUp</key>
							<true/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Turn Quick Nav on or off</string>
					<key>uuid</key>
					<string>34FD9B37-B5DE-4AB5-B5AF-4A6C69E4EA88</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>80</integer>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Select the Previous Item</string>
					<key>uuid</key>
					<string>4608578D-1BD3-4BD9-A155-6D726DA4F43F</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>79</integer>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Select the Next Item</string>
					<key>uuid</key>
					<string>787B43A2-55CA-4992-B93C-25C6C7634545</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Select the Previous Item Specified by the Speech Rotor</string>
					<key>uuid</key>
					<string>A397793F-CF55-4544-9641-E9059E7307C1</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>81</integer>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Select the Next Item Specified by the Speech Rotor</string>
					<key>uuid</key>
					<string>FCD8EAFB-DFA7-4D01-80A3-3849943C3FB8</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>81</integer>
							<key>keyDown</key>
							<true/>
							<key>keyUp</key>
							<false/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>keyDown</key>
							<true/>
							<key>keyUp</key>
							<false/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>81</integer>
							<key>keyDown</key>
							<false/>
							<key>keyUp</key>
							<true/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>keyDown</key>
							<false/>
							<key>keyUp</key>
							<true/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Activate the Selected Item</string>
					<key>uuid</key>
					<string>12E59F33-9A42-4E2A-80D0-C3479284A68F</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>keyDown</key>
							<true/>
							<key>keyUp</key>
							<false/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>79</integer>
							<key>keyDown</key>
							<true/>
							<key>keyUp</key>
							<false/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>keyDown</key>
							<false/>
							<key>keyUp</key>
							<true/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>79</integer>
							<key>keyDown</key>
							<false/>
							<key>keyUp</key>
							<true/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Adjust the Speech Rotor: Right</string>
					<key>uuid</key>
					<string>EFF66A70-3C72-4D3F-A5EF-638DE5610EF0</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>keyDown</key>
							<true/>
							<key>keyUp</key>
							<false/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>80</integer>
							<key>keyDown</key>
							<true/>
							<key>keyUp</key>
							<false/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>keyDown</key>
							<false/>
							<key>keyUp</key>
							<true/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>key</key>
							<integer>80</integer>
							<key>keyDown</key>
							<false/>
							<key>keyUp</key>
							<true/>
							<key>modifierMask</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Adjust the Speech Rotor: Left</string>
					<key>uuid</key>
					<string>1978F69C-408C-4728-B8BB-ED310529F2E1</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>79</integer>
							<key>modifierMask</key>
							<integer>4</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Scroll Page Right</string>
					<key>uuid</key>
					<string>074124BC-9AC6-4F4A-860C-8CC447974C3F</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>80</integer>
							<key>modifierMask</key>
							<integer>4</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Scroll Page Left</string>
					<key>uuid</key>
					<string>7E6CDEE2-98C1-4374-B79E-BA7C537C6736</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>81</integer>
							<key>modifierMask</key>
							<integer>4</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Scroll Page Down</string>
					<key>uuid</key>
					<string>55E5E7AE-F505-4EC8-A69B-559D4AB055DC</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>modifierMask</key>
							<integer>4</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Scroll Page Up</string>
					<key>uuid</key>
					<string>868DFBA7-CB03-4D98-B395-176CC8DC4AEC</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>81</integer>
							<key>modifierMask</key>
							<integer>1</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Select Last Item</string>
					<key>uuid</key>
					<string>BF2142F9-B4DC-4348-A28C-593446AAF3DC</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>82</integer>
							<key>modifierMask</key>
							<integer>1</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Select First Item</string>
					<key>uuid</key>
					<string>5F3DF8AF-9F94-4351-915A-2CB136CCE0F2</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>79</integer>
							<key>modifierMask</key>
							<integer>1</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Go to Next Area</string>
					<key>uuid</key>
					<string>727E4487-3B60-417F-B626-5260B932F1D0</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<integer>80</integer>
							<key>modifierMask</key>
							<integer>1</integer>
						</dict>
					</array>
					<key>title</key>
					<string>Quick Nav - Go to Previous Area</string>
					<key>uuid</key>
					<string>1FBB4EDA-6AE8-4F9C-A915-5662C39E70BD</string>
				</dict>
				<dict>
					<key>title</key>
					<string>-</string>
				</dict>
				<dict>
					<key>keys</key>
					<array>
						<dict>
							<key>character</key>
							<string>k</string>
							<key>key</key>
							<integer>14</integer>
							<key>modifierMask</key>
							<integer>85</integer>
						</dict>
					</array>
					<key>title</key>
					<string>VoiceOver Help</string>
					<key>uuid</key>
					<string>FC48BB57-F017-453E-928B-400584EE059F</string>
				</dict>
			</array>
			<key>title</key>
			<string>Voice Over</string>
		</dict>
		<dict>
			<key>title</key>
			<string>-</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>character</key>
					<string> </string>
					<key>modifierMask</key>
					<integer>8</integer>
				</dict>
			</array>
			<key>title</key>
			<string>Switch iOS Keyboard Layout</string>
			<key>uuid</key>
			<string>D3676BB7-5962-4A5A-A13A-A8F1FDB69024</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>consumerKey</key>
					<integer>184</integer>
				</dict>
			</array>
			<key>title</key>
			<string>Toggle Software Keyboard</string>
			<key>uuid</key>
			<string>3D5B191C-BCE1-4C08-AE22-6154BE76662D</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>consumerKey</key>
					<integer>545</integer>
				</dict>
			</array>
			<key>title</key>
			<string>Toggle Spotlight</string>
			<key>uuid</key>
			<string>CD4F0C12-A186-4176-8196-83AE0A9DE048</string>
		</dict>
	</array>
</dict>
</plist>
