<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0001 - ServiceClassIDList</key>
	<array>
		<data>ESQ=</data>
	</array>
	<key>0004 - ProtocolDescriptorList</key>
	<array>
		<array>
			<data>AQA=</data>
			<dict>
				<key>DataElementSize</key>
				<integer>2</integer>
				<key>DataElementType</key>
				<integer>1</integer>
				<key>DataElementValue</key>
				<integer>17</integer>
			</dict>
		</array>
		<array>
			<data>ABE=</data>
		</array>
	</array>
	<key>0005 - BrowseGroupList*</key>
	<array>
		<data>EAI=</data>
	</array>
	<key>0006 - LanguageBaseAttributeIDList*</key>
	<array>
		<dict>
			<key>DataElementSize</key>
			<integer>2</integer>
			<key>DataElementType</key>
			<integer>1</integer>
			<key>DataElementValue</key>
			<integer>25966</integer>
		</dict>
		<dict>
			<key>DataElementSize</key>
			<integer>2</integer>
			<key>DataElementType</key>
			<integer>1</integer>
			<key>DataElementValue</key>
			<integer>106</integer>
		</dict>
		<dict>
			<key>DataElementSize</key>
			<integer>2</integer>
			<key>DataElementType</key>
			<integer>1</integer>
			<key>DataElementValue</key>
			<integer>256</integer>
		</dict>
	</array>
	<key>0009 - BluetoothProfileDescriptorList</key>
	<array>
		<array>
			<data>ESQ=</data>
			<dict>
				<key>DataElementSize</key>
				<integer>2</integer>
				<key>DataElementType</key>
				<integer>1</integer>
				<key>DataElementValue</key>
				<integer>256</integer>
			</dict>
		</array>
	</array>
	<key>000d - AdditionalProtocolDescriptorLists</key>
	<array>
		<array>
			<array>
				<data>AQA=</data>
				<dict>
					<key>DataElementSize</key>
					<integer>2</integer>
					<key>DataElementType</key>
					<integer>1</integer>
					<key>DataElementValue</key>
					<integer>19</integer>
				</dict>
			</array>
			<array>
				<data>ABE=</data>
			</array>
		</array>
	</array>
	<key>0100 - ServiceName*</key>
	<string>Type2Phone</string>
	<key>0101</key>
	<string>Type2Phone</string>
	<key>0102</key>
	<string>Houdah Software s.à r.l.</string>
	<key>0201</key>
	<dict>
		<key>DataElementSize</key>
		<integer>2</integer>
		<key>DataElementType</key>
		<integer>1</integer>
		<key>DataElementValue</key>
		<integer>273</integer>
	</dict>
	<key>0202</key>
	<dict>
		<key>DataElementSize</key>
		<integer>1</integer>
		<key>DataElementType</key>
		<integer>1</integer>
		<key>DataElementValue</key>
		<integer>64</integer>
	</dict>
	<key>0203</key>
	<dict>
		<key>DataElementSize</key>
		<integer>1</integer>
		<key>DataElementType</key>
		<integer>1</integer>
		<key>DataElementValue</key>
		<integer>13</integer>
	</dict>
	<key>0206</key>
	<array>
		<array>
			<dict>
				<key>DataElementValue</key>
				<integer>34</integer>
				<key>DataElementSize</key>
				<integer>2</integer>
				<key>DataElementType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>DataElementType</key>
				<integer>4</integer>
				<key>DataElementValue</key>
				<data>XvMwDUGWPG2pL3MGXkCojobgl19qLveGX/eGiRdP57Qf+tDrXY/Y1PJwIZ8laVNlfLxpLe7kTXdKjY3PHnjZsH//FN6n5tDr42kyZZi/WjgMtkykB/YAqFXfs3t6RuF2</data>
			</dict>
		</array>
	</array>
	<key>0207</key>
	<array>
		<array>
			<dict>
				<key>DataElementSize</key>
				<integer>2</integer>
				<key>DataElementType</key>
				<integer>1</integer>
				<key>DataElementValue</key>
				<integer>777</integer>
			</dict>
			<dict>
				<key>DataElementSize</key>
				<integer>2</integer>
				<key>DataElementType</key>
				<integer>1</integer>
				<key>DataElementValue</key>
				<integer>256</integer>
			</dict>
		</array>
	</array>
	<key>020b</key>
	<dict>
		<key>DataElementSize</key>
		<integer>2</integer>
		<key>DataElementType</key>
		<integer>1</integer>
		<key>DataElementValue</key>
		<integer>256</integer>
	</dict>
	<key>020c</key>
	<dict>
		<key>DataElementSize</key>
		<integer>2</integer>
		<key>DataElementType</key>
		<integer>1</integer>
		<key>DataElementValue</key>
		<integer>3200</integer>
	</dict>
</dict>
</plist>
