<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>record</key>
	<dict>
		<key>attribute</key>
		<array>
			<dict>
				<key>-id</key>
				<string>0x0001</string>
				<key>sequence</key>
				<dict>
					<key>uuid</key>
					<dict>
						<key>-value</key>
						<string>0x1124</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0004</string>
				<key>sequence</key>
				<dict>
					<key>sequence</key>
					<array>
						<dict>
							<key>uint16</key>
							<dict>
								<key>-value</key>
								<string>0x0011</string>
							</dict>
							<key>uuid</key>
							<dict>
								<key>-value</key>
								<string>0x0100</string>
							</dict>
						</dict>
						<dict>
							<key>uuid</key>
							<dict>
								<key>-value</key>
								<string>0x0011</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0005</string>
				<key>sequence</key>
				<dict>
					<key>uuid</key>
					<dict>
						<key>-value</key>
						<string>0x1002</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0006</string>
				<key>sequence</key>
				<dict>
					<key>uint16</key>
					<array>
						<dict>
							<key>-value</key>
							<string>0x656e</string>
						</dict>
						<dict>
							<key>-value</key>
							<string>0x006a</string>
						</dict>
						<dict>
							<key>-value</key>
							<string>0x0100</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0009</string>
				<key>sequence</key>
				<dict>
					<key>sequence</key>
					<dict>
						<key>uint16</key>
						<dict>
							<key>-value</key>
							<string>0x0100</string>
						</dict>
						<key>uuid</key>
						<dict>
							<key>-value</key>
							<string>0x1124</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x000d</string>
				<key>sequence</key>
				<dict>
					<key>sequence</key>
					<dict>
						<key>sequence</key>
						<array>
							<dict>
								<key>uint16</key>
								<dict>
									<key>-value</key>
									<string>0x0013</string>
								</dict>
								<key>uuid</key>
								<dict>
									<key>-value</key>
									<string>0x0100</string>
								</dict>
							</dict>
							<dict>
								<key>uuid</key>
								<dict>
									<key>-value</key>
									<string>0x0011</string>
								</dict>
							</dict>
						</array>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0100</string>
				<key>text</key>
				<dict>
					<key>-value</key>
					<string>Raspberry Pi Virtual Keyboard</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0101</string>
				<key>text</key>
				<dict>
					<key>-value</key>
					<string>USB &gt; BT Keyboard</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0102</string>
				<key>text</key>
				<dict>
					<key>-value</key>
					<string>Raspberry Pi</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0200</string>
				<key>uint16</key>
				<dict>
					<key>-value</key>
					<string>0x0100</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0201</string>
				<key>uint16</key>
				<dict>
					<key>-value</key>
					<string>0x0111</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0202</string>
				<key>uint8</key>
				<dict>
					<key>-value</key>
					<string>0x40</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0203</string>
				<key>uint8</key>
				<dict>
					<key>-value</key>
					<string>0x00</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0204</string>
				<key>boolean</key>
				<dict>
					<key>-value</key>
					<string>true</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0205</string>
				<key>boolean</key>
				<dict>
					<key>-value</key>
					<string>true</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0206</string>
				<key>sequence</key>
				<dict>
					<key>sequence</key>
					<dict>
						<key>text</key>
						<dict>
							<key>-encoding</key>
							<string>hex</string>
							<key>-value</key>
							<string>05010906a101850175019508050719e029e715002501810295017508810395057501050819012905910295017503910395067508150026ff000507190029ff8100c0050c0901a1018503150025017501950b0a23020a21020ab10109b809b609cd09b509e209ea09e9093081029501750d8103c0</string>
						</dict>
						<key>uint8</key>
						<dict>
							<key>-value</key>
							<string>0x22</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0207</string>
				<key>sequence</key>
				<dict>
					<key>sequence</key>
					<dict>
						<key>uint16</key>
						<array>
							<dict>
								<key>-value</key>
								<string>0x0409</string>
							</dict>
							<dict>
								<key>-value</key>
								<string>0x0100</string>
							</dict>
						</array>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x020b</string>
				<key>uint16</key>
				<dict>
					<key>-value</key>
					<string>0x0100</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x020c</string>
				<key>uint16</key>
				<dict>
					<key>-value</key>
					<string>0x0c80</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x020d</string>
				<key>boolean</key>
				<dict>
					<key>-value</key>
					<string>false</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x020e</string>
				<key>boolean</key>
				<dict>
					<key>-value</key>
					<string>true</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x020f</string>
				<key>uint16</key>
				<dict>
					<key>-value</key>
					<string>0x0640</string>
				</dict>
			</dict>
			<dict>
				<key>-id</key>
				<string>0x0210</string>
				<key>uint16</key>
				<dict>
					<key>-value</key>
					<string>0x0320</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
